{% extends 'base_main.html'%}

{% block title %}
天天生鲜-购物车
{% endblock %}


{% block content %}
<script>
	function cart_price(){
		$.get('/shopcart/cart_price',function(data){
			if(data.code == '200'){
				$('.total_count em').html(data.all_total)
				$('.settlements .col03 em').html(data.all_price)
				$('.settlements .col03 b').html(data.is_select_num)
				$('.cart_list_td .col01')
			}
		})
	}
	cart_price()

</script>

	<div class="total_count">全部商品<em>0</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
	{% for re in result %}
	<ul class="cart_list_td clearfix" id="goods_{{ re.0.id }}">
		<li class="col01"><input type="checkbox" name="" {% if re.2 %} checked {% endif %} onclick="select_change({{ re.0.id }}, {{ re.2 }})" ></li>
		<li class="col02"><img src="/media/{{ re.0.goods_front_image}}"></li>`
		<li class="col03">{{ re.0.name }}<br><em>{{ re.0.shop_price }}/500g</em></li>
		<li class="col04">500g</li>
		<li class="col05" id="price_{{ re.0.id }}">{{ re.0.shop_price }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl" onclick="add_cart({{ re.0.id }});">+</a>
				<input type="text" class="num_show fl" id="num_show_{{ re.0.id }}" value="{{ re.1 }}">
				<a href="javascript:;" class="minus fl" onclick="sub_cart({{ re.0.id }})">-</a>
			</div>
			{% csrf_token %}
			<script>
				<!--改变选择框-->
				function select_change(id, goods_select){
					var csrf = $('input[name="csrfmiddlewaretoken"]').val()
					$.ajax({
						url: '/shopcart/change_cart/',
						type: 'POST',
						data: {'goods_id':id, 'goods_select':goods_select},
						headers: {'X-CSRFToken': csrf},
						dataType: 'json',
						success: function(data){
							<!--刷新数量和总价-->
							if(data.code == '200'){
								cart_price()
								location.reload()
								}
						},
						error: function(data){
						}
					})
				}



				<!--加商品的数量-->
	            function add_cart(id){
                        var num = $('#num_show_'+ id).val()
                        var new_num = parseInt(num) + 1
                        $('#num_show_' + id).val(new_num)
                        change_cart(id, new_num)

                    }

				<!--减商品-->
				function sub_cart(id){
					var num = $('#num_show_' + id).val()
					if(parseInt(num) > 1){
						var new_num = parseInt(num) - 1
						$('#num_show_' + id).val(new_num)
						 change_cart(id, new_num)

					}
				}
				<!---->
				function change_cart(id, new_num){
					<!--改变-->
					var price = $('#price_' + id ).text()
					var csrf = $('input[name="csrfmiddlewaretoken"]').val()
					all_price = parseInt(price) * new_num
					$.ajax({
						url:'/shopcart/change_cart/',
						type:'POST',
						data: {'goods_id':id, 'goods_num':new_num},
						headers:{'X-CSRFToken': csrf},
						dataType:'json',
						success: function(data){
							<!--刷新数量和总价-->
							if(data.code == '200'){
								cart_price()
								$('#all_price_'+ id ).text(all_price)
								}
						},
						error: function(data){
						}
					})
				}

				function del_cart(id){
					<!--删除指定的商品-->
					var csrf = $('input[name="csrfmiddlewaretoken"]').val()
					$.ajax({
						url:'/shopcart/del_cart/',
						type:'POST',
						data: {'goods_id':id},
						headers:{'X-CSRFToken': csrf},
						dataType:'json',
						success: function(data){
							<!--刷新整个页面-->
							<!--location.herf='/shopcart/cart/'-->
							<!--location.reload()-->
							<!--移除ul元素-->
							$('#goods_' + id).remove()
							cart_price()
							cart_num()
						},
						error: function(data){
						}
					})
				}
			</script>
		</li>
		<li class="col07" id="all_price_{{ re.0.id }}">{{ re.3 }}</li>
		<li class="col08"><a href="javascript:;" onclick="del_cart({{ re.0.id }});">删除</a></li>
	</ul>
	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>0</em><br>共计<b>0</b>件商品</li>
		<li class="col04"><a {% if result %} href="{% url 'order:place_order' %}" {% endif %}>去结算</a></li>
	</ul>

{% endblock %}